<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="com.thoughtworks.gauge.eclipse.ui.category.wizards"
           name="Gauge Project">
     </category>
     <wizard
           category="com.thoughtworks.gauge.eclipse.ui.category.wizards"
           class="om.thoughtworks.gauge.eclipse.ui.wizards.NewGaugeProjectWizard"
           id="com.thoughtworks.gauge.eclipse.ui.new.gaugeproject"
           name="Gauge Spec Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer
           class="com.thoughtworks.gauge.eclipse.project.GaugeClasspathContainerInitializer"
           id="com.thoughtworks.gauge.java.container">
     </classpathContainerInitializer>
  </extension>

</plugin>
