<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="com.thoughtworks.gauge.eclipse.ui.category.wizards"
           name="Gauge Project">
     </category>
     <wizard
           category="com.thoughtworks.gauge.eclipse.ui.category.wizards"
           class="com.thoughtworks.gauge.eclipse.ui.wizards.NewGaugeProjectWizard"
           id="com.thoughtworks.gauge.eclipse.ui.new.gaugeproject"
           name="Gauge Spec Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer
           class="com.thoughtworks.gauge.eclipse.project.GaugeClasspathContainerInitializer"
           id="com.thoughtworks.gauge.java.container">
     </classpathContainerInitializer>
  </extension>
  <extension
        id="com.thoughtworks.gauge.eclipse.project.NatureID"
        name="Gauge Nature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="com.thoughtworks.gauge.eclipse.project.GaugeProjectNature">
        </run>
     </runtime>
  </extension>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
          name="Gauge Specs"
          delegate="com.thoughtworks.gauge.eclipse.execution.GaugeLaunchConfigurationDelegate"
          modes="run"               
          id="com.thoughtworks.gauge.eclipse.execution.spec">        
      </launchConfigurationType>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
          type="com.thoughtworks.gauge.eclipse.execution.spec"
          class="com.thoughtworks.gauge.eclipse.execution.GaugeTabGroup"
          id="com.thoughtworks.gauge.eclipse.execution.specTabGroup">
      </launchConfigurationTabGroup>
  </extension>
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="com.thoughtworks.gauge.eclipse.execution.specLaunchShortcut"
        class="com.thoughtworks.gauge.eclipse.execution.SpecLaunchShortcut"
        label="Gauge Specs"
        modes="run">
 		<contextualLaunch>
        	<contextLabel mode="run" label="Gauge Specs" />
         	<enablement >
             <with variable="selection">
                <count
                      value="1">
                </count>
                <iterate>
                   <or>
                      <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.spec">
                      </test>
                      <and>
                         <instanceof
                               value="org.eclipse.core.resources.IFolder">
                         </instanceof>
                         <test
                               forcePluginActivation="true"
                               property="com.thoughtworks.gauge.eclipse.execution.isGaugeSpecFolder"
                               value="true">
                         </test>
                      </and>
                   </or>
                </iterate>
             </with>
         	</enablement>
       	</contextualLaunch>
 	</shortcut>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="com.thoughtworks.gauge.eclipse.execution.GaugeFolderPropertyTester"
           id="com.thoughtworks.gauge.eclipse.execution.GaugeFolderPropertyTester"
           namespace="com.thoughtworks.gauge.eclipse.execution"
           properties="isGaugeSpecFolder"
           type="org.eclipse.core.resources.IFolder">
     </propertyTester>
  </extension>  
</plugin>
